@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.container{
    width: 1264px;
    margin: 0 auto;
}

.container__small{
    width: 1140px;
    margin: 0 auto;
}

.header-up{
    background-color: #2A3342;
    padding: 0 0 276px 0;
}

.header-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 21px 0;
    margin-bottom: 48px;
}

.nav__list{
    display: flex;
    gap: 48px;
}

.nav__link, 
.nav__btn{
    color: var(--Gray-300, #BBC3CF);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.nav__btn-sign{
    color: var(--Primary-050, #F0FDF4);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;

    padding: 8px 16px;
    background-color: #22C55E;
    border-radius: 6px;
}

.nav-btn_group{
    display: flex;
    align-items: center;
    gap: 24px;
}

.header-desc{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.header-desc__logo{
    color: var(--White-900, #FFF);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;

    text-transform: uppercase;
    padding: 2px 8px;
    background-color: #22C55E;
    border-radius: 36px;
}

.header-desc__title{
    color: var(--White-900, #FFF);
    text-align: center;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: -1.2px;
}

.header-desc__text{
    color: var(--Gray-400, #8896AB);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.header-desc-btn_group{
    display: flex;
    gap: 16px;
    margin-top: 8px;
}

.header-desc__btn{
    display: block;
    color: var(--Primary-050, #F0FDF4);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    
    padding: 16px 28px;
    background-color: #22C55E;
    border-radius: 6px;
}

.header-desc__btn-sign{
    background-color: #404F65;
}

.header-video-player{
    position: relative;
    display: flex;
    justify-content: center;
}

.header__video{
    width: 944px;
    height: 531px;  
    border-radius: 24px;
    color: #00000066;
    margin-top: -200px;
    margin-bottom: 120px;
}

.header__icon{
    position: absolute;
    top: 5%;
    left: 47%; 
}

.player__icon{
    background-color: #22C55E;
    padding: 20px 19px 20px 20px;
    border-radius: 100%;
}

.header-down{
    background-color: #fff;
    font-size: 2px;
    color: #fff;
    margin-bottom: 435px;
}

.trusted-inner{
    padding: 88px 0 86px;
}

.trusted__text{
    color: var(--Gray-300, #BBC3CF);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;

    margin-bottom: 24px;
}

.trusted-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trusted__card{
    width: 261px;
    height: 146px;
    border-radius: 6px;
    background-color: #e9e9e9;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.trusted__logo{
    width: 261px;
    height: 3rem;
}

.numbers{
    background-color: #e9e9e9;
}

.numbers-top{
    padding: 88px 0 50px 0;
}

.numbers__btn{
    margin-bottom: 16px;
}

.section__btn{
    display: inline-flex;
    color: var(--Primary-500, #22C55E);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    padding: 2px 8px;
    border-radius: 36px;
    background-color: #DCFCE7;
}

.numbers__title{
    color: var(--Gray-900, #2A3342);
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -0.96px;

    margin-bottom: 16px;
}

.numbers__desc{
    color: var(--Gray-500, #556987);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.numbers-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 88px;
}

.numbers-main__cards{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.numbers-main__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 262px;
}

.numbers-main__card__num{
    color: var(--Gray-900, #2A3342);
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -0.96px;

    margin-bottom: 16px;
}

.numbers-main__card__name{
    color: var(--Gray-800, #333F51);
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;

    margin-bottom: 8px;
}

.numbers-main__card__text{
    color: var(--Gray-500, #556987);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.numbers__img{
    border-radius: 40px;
}

.quotes-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 88px 0;
}

.quotes-img{
    position: relative;
}

.quotes__icon{
    position: absolute;
    top: 43%;
    left: 44%;
}

.quotes__img{
    border-radius: 40px;
}

.quotes-desc{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 554px;
}

.quotes__btn{
    margin-bottom: 90px;
}

.quotes__text{
    color: var(--Gray-900, #2A3342);
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.72px;

    margin-bottom: 32px;
}

.quotes__name{
    color: var(--Gray-800, #333F51);
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;

    margin-bottom: 8px;
}

.quotes__position{
    color: var(--Gray-500, #556987);
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 56px;
}

.contact-inner{
    padding: 88px 0 90px;
}

.contact-top{
    display: flex;
    align-items: center;
    gap: 105px;
    margin-bottom: 70px;
}

.contact-top__btn-group{
    display: flex;
    gap: 16px;
    flex-shrink: 0;
}

.contact__section__btn{
    margin-bottom: 16px;
}

.contact__text{
    color: var(--Gray-500, #556987);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.contact__title{
    color: var(--Gray-900, #2A3342);
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -0.96px;

    margin-bottom: 16px;
}

.contact__btn{
    color: var(--Primary-050, #F0FDF4);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    display: flex;
    height: 56px;
    padding: 16px 28px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #22C55E;
    flex-shrink: 0;
    border-radius: 6px;
}

.contact__about-us__btn{
    color: #333F51;
    background-color: #e8ebef;
}

.contact-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    column-gap: 80px;
    row-gap: 32px;
}

.contact__card{
    width: 210px;
}

.contact__card__img{
    padding: 12px;
    background-color: #22C55E;
    border-radius: 100%;
    margin-bottom: 24px;
}

.contact__card__name{
    color: var(--Gray-900, #2A3342);
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;

    margin-bottom: 16px;
}

.contact__card__info{
    color: var(--Gray-500, #556987);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.contact__card__links{
    display: flex;
    gap: 32px;
}

.contact-forms{
    padding: 40px;
}

.contact__form__name{
    color: var(--Gray-800, #333F51);    
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;

    margin-bottom: 6px;
}

.contact__form{
    color: #252525;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding: 14px 16px;    
    border-radius: 8px;
    background-color: #e8ebef;
}

.form__email{
    width: -webkit-fill-available;
    border-radius: 8px;
    margin-bottom: 24px;
}

.form__message{
    height: 220px;
    width: 474px;
    display: flex;
    margin-bottom: 24px;
}

.footer{
    background-color: #2A3342;
}

.footer-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 88px 0 84px;
}

.footer__list{
    display: flex;
    align-items: center;
    gap: 48px;
    margin-bottom: 84px;
}

.footer__link , .rights{
    color: var(--Gray-400, #8896AB);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.footer__logo{
    margin-bottom: 32px;
}


@media only screen and (max-width: 1264px) {
    .container{
        width: 100%;
        margin: 0 auto;
    }
    
    .container__small{
        width: 100%;
        margin: 0 auto;
    }

    .quotes-inner{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 88px 0;
    }
    
    .quotes-desc{
        width: auto;
    }

    .header-nav{
        padding: 21px 20px;
    }

    .contact-inner {
        padding: 88px 20px 90px;
    }

    .numbers-inner{
        padding: 0 20px;
    }

    .trusted-inner{
        padding: 88px 20px 86px;
    }
    
}

@media only screen and (max-width: 1140px) {
    .container{
        width: 100%;
        margin: 0 auto;
    }
    
    .container__small{
        width: 100%;
        margin: 0 auto;
    }
    
    .header-nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 21px 0;
        margin-bottom: 48px;
        flex-direction: column;
        gap: 24px;
    }
    
    .nav-btn_group{
        display: flex;
        align-items: center;
        gap: 24px;
    }
    
    .header-desc{
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
    }
    
    .header-desc__text{
        color: var(--Gray-400, #8896AB);
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        text-align: center;
        margin: 0 20px;
    }

    
    .header-video-player{
        position: relative;
        display: flex;
        justify-content: center;
    }
    
    .header__video{
        width: 708px;
        height: 397px;
        border-radius: 24px;
        color: #00000066;
        margin-top: -200px;
        margin-bottom: 120px;
    }
    
    .header__icon{
        position: absolute;
        top: -11%;
        left: 48%; 
    }
    
    .trusted-cards{
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }
    
    .trusted__card{
        width: 261px;
        height: 146px;
        border-radius: 6px;
        background-color: #e9e9e9;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .numbers-top{
        padding: 88px 0 50px 0;
        text-align: center;
        margin: 0 20px;
    } 
    
    .numbers-main{
        display: flex;
        justify-content: center;
        padding-bottom: 88px;
        flex-wrap: wrap;
    }
    
    .numbers-main__cards{
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        justify-content: center;
    }
    
    .numbers-main__card{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 262px;
    }
    
    .numbers__img{
        display: none;
    }
    
    .quotes-inner{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 88px 0;
        flex-direction: column;
    }
    
    .quotes-img{
        position: relative;
    }
    
    .quotes__icon{
        position: absolute;
        top: 43%;
        left: 44%;
    }

    .quotes-desc{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .quotes__btn{
        margin: 45px 0 45px;
    }
    
    .quotes__text{
        color: var(--Gray-900, #2A3342);
        font-family: Poppins;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 44px;
        letter-spacing: -0.72px;
        text-align: center;
        margin-bottom: 32px;
    }
    
    .contact-top{
        display: flex;
        align-items: center;
        gap: 105px;
        margin-bottom: 70px;
        flex-direction: column;
    }
    
    .contact-top-desc{
        text-align: center;
        margin: 0 20px;
    }
    
    .contact__about-us__btn{
        color: #333F51;
        background-color: #e8ebef;
    }
    
    .contact-main{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin: 0 20px;
    }
    
    .contact-cards{
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        column-gap: 80px;
        row-gap: 32px;
        justify-content: center;
    }

    .footer-inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 88px 0 84px;
    }
    
    .footer__list{
        display: flex;
        align-items: center;
        gap: 48px;
        margin-bottom: 84px;
        flex-direction: column;
    }

}

@media only screen and (max-width: 710px){
    .header__video{
        width: 472px;
        height: 265px;
        border-radius: 24px;
        color: #00000066;
        margin-top: -200px;
        margin-bottom: 120px;
    }
    
    .header__icon{
        position: absolute;
        top: -52%;
        left: 47%; 
    }
    
}

@media only screen and (max-width: 560px){
    .contact-forms{
        padding: 10px 0;
    }

    .contact-inner{
        padding: 88px 10px;
    }
    
    .contact-top__btn-group{
        flex-direction: column;
    }

    .contact-cards{
        margin-bottom: 60px;
    }

}

@media only screen and (max-width: 480px){
    .header-nav{
        gap: 40px;
    }

    .header__video{
        width: 337px;
        height: 189px;
        border-radius: 24px;
        color: #00000066;
        margin-top: -120px;
        margin-bottom: 120px;
    }
    
    .header__icon{
        position: absolute;
        top: -30%;
        left: 45%; 
    }
    
    .quotes__img{
        width: 300px;
    }

    .form__message{
        height: 220px;
        width: 300px;
        display: flex;
        margin-bottom: 24px;
    }

    .nav__list{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-btn_group{
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }
}