body{
    background-color: brown;
}

.container {  
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "a b b c d d e ."
      ". b b . d d l l"
      ". b b . d d l l"
      "f g h i j k l l"
      "m n o . . . . ."
      "m n o . . . . .";
  }
  
  .a { grid-area: a; }
  
  .c { grid-area: c; }
  
  .b { grid-area: b; }
  
  .d { grid-area: d; }
  
  .e { grid-area: e; }
  
  .f { grid-area: f; }
  
  .g { grid-area: g; }
  
  .h { grid-area: h; }
  
  .i { grid-area: i; }
  
  .j { grid-area: j; }
  
  .k { grid-area: k; }
  
  .l { grid-area: l; }
  
  .m { grid-area: m; }
  
  .n { grid-area: n; }
  
  .o { grid-area: o; }
  
.image{
    width: 100%;
    height: 100%;
    object-fit: cover;	
    border: 2px solid white;
    border-radius: 25px;
}