@import url('https://fonts.googleapis.com/css2?family=Federo&family=Open+Sans:wght@300;400;500;600&display=swap');

img{
    vertical-align: bottom;
}

.container{
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
}

.logo_header{
    display: inline-block;
    vertical-align: middle;
    padding-right: 212px;
}

.nav{
    margin: 25px 0 60px 0;
}

.nav_list{
    display: inline-block;
}

.nav_list li{
    display: inline-block;
}

.nav_item{
    color: #697390;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.56px;
    display: inline-block;
    padding-right: 38px;
}

.nav_links{
    display: inline-block;
    padding-left: 158px;
}

.nav_links_li{
    display: inline-block;
    padding-right: 30px;
}

.nav_links_li img{
    display: inline-block;
    width: 22px;
    height: 22px;
}

.nav_links_li:last-child{
    padding-right: 0;
}

.ready{
    margin-bottom: 84px;
}

.ready_image{
    display: inline-block;
    margin-right: 80px;
    vertical-align: top;
}

.ready_right{
    padding-top: 140px;
    width: 375px;
    display: inline-block;
}

.ready_text{
    color: #3A3A3A;
    font-family: Federo;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 1px;
}

.ready_btn{
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.56px;
    padding: 8px 16px;
    background-color: #434343;
    margin-top: 25px;
    text-transform: uppercase;
}

.best_sellers{
    color: #3A3A3A;
    font-family: Federo;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.8px;
    text-align: center;
    margin-bottom: 41px;
}

.top_line{
    display: block;
    margin-bottom: 30px;
}

.card_t{
    display: inline-block;
    width: 255px;
    height: 342px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    margin-right: 23px;
}

.card_t:last-child{
    display: inline-block;
    width: 255px;
    height: 342px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    margin-right: 0;
}

.hot_plate{
    width: 75px;
    padding: 6px 20px;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.56px;
    background: #F29731;
    text-transform: uppercase;
    position: absolute;
    top: 12px;
    right: 0;
}

.discount_plate{
    width: 75px;
    padding: 6px 22px;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.56px;
    background: #9E0B0F;
    text-transform: uppercase;
    position: absolute;
    top: 50px;
    right: 0;
}

.card_img{
    height: 150px;
    margin: 80px 0 30px 0;
}

.item_name{
    color: #2A2A2B;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.56px;
    margin-bottom: 8px;
}

.item_price{
    color: #8C8C8C;
    text-align: center;
    font-family: Federo;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.28px;
}

.bottom_line{
    display: block;
    margin-bottom: 148px;
}

.card_b{
    display: inline-block;
    width: 350px;
    height: 342px;
    margin-right: 21px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
}

.card_b:last-child{
    display: inline-block;
    width: 350px;
    height: 342px;
    margin-right: 0;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
}

.deal{
    display: block;
}

.deal_img{
    display: inline-block;
    padding: 148px 84px;
    margin-right: 104px;
    vertical-align: top;
}

.deal_details{
    display: inline-block;
    width: 442px;
    padding-top: 100px;
}

.deal_of_the_week{
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.56px;
    padding: 8px 34px;
    background-color: #8096BC;
    display: inline-block;
    margin-bottom: 41px;
}

.from{
    color: #3A3A3A;
    font-family: Federo;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.9px;
    margin-bottom: 28px;
}

.from::after{
    content:' $99.99';
    color: #78A2CA;
    font-family: Federo;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.9px;
}

.deal_text{
    color: #727272;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 28px;
}

.deal_btn{
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.56px;
    padding: 8px 16px;
    background-color: #434343;
    text-transform: uppercase;
    margin-bottom: 26px;
}

.deal_detail_img{
    width: 87px;
    gap: 20px;
    height: 87px;
    padding: 12px 20px;
    margin-right: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.trending{
    margin-top: 138px;
}

.trending_categories{
    color: #3A3A3A;
    font-family: Federo;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.8px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 78px;
}

.categories_list{
    width: 100%;
    height: 148px;
    display: inline-block;
    margin-bottom: 48px;
    text-align: center;
}

.categories_list_li{
    display: inline-block;
    vertical-align: top;
    padding-right: 120px;
}

.categories_list_li:last-child{
    display: inline-block;
    vertical-align: top;
    padding-right: 0;
}

.categories_item_div{
    display: block;
    width: 70px;
    text-align: center;
}

.categories_item_div_last{
    display: block;
    width: 90px;
    text-align: center;
}

.categories_item img{
    height: 66px;
    margin-bottom: 10px;
}

.categories_item{
    color: #757575;
    text-align: center;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.49px;
    text-decoration: none;
}

footer{
    background-color: #dddddd;
    padding-top: 1px;
}

.logo_footer{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 61px;
    margin-bottom: 44px;
}

.footer_links{
    padding-bottom: 80px;
}

.footer_links_div{
    display: inline-block;
    padding-right: 224px;
}

.footer_links_div:last-child{
    display: inline-block;
    padding-right: 0;
}

.footer_title{
    color: #000;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 224.682%;
    letter-spacing: -0.84px;
}

.footer_link{
    color: #444;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 224.682%;
    letter-spacing: -0.7px;
}

.transparent{
    color: transparent;
}

.follow_us li img{
    vertical-align: sub;
    width: 20px;
}

.copyright_text{
    color: #7A7A7A;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding: 17px 0;
}